<%- include("../layout/user/header") -%>
<%- include("../partials/usernav") -%>
<style>
    
    /* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.error-container {
    text-align: center;
}
.error-code {
    font-size: 5rem;
    color:gray;
    margin-bottom: 10px;
}
.error-message {
    font-size: 1.5rem;
    color: #333;
}
.home-link {
    color: #007bff;
    text-decoration: none;
}
</style>
    <div class="error-container mt-5">
        <div class="error-code">404</div>
        <div class="error-message">Page Not Found</div>
        <p><%-err-%></p>
        <p><a href="/" class="home-link">Go to Home Page</a></p>
    </div>
</body>

<%- include("../layout/user/footer") -%>