
<script>
function validateImage(id,no) {
    console.log("sett");
    const imageInput = document.getElementById(''+id);
    const submitButton = document.getElementById('submit');
    const errMessage = document.getElementById('err1');

               

    const arr = ['jpg', 'jpeg', 'png', 'gif','webp']; // Change this to the allowed extension

    const selectedFile = imageInput.files[0];
    const fileNameParts = selectedFile.name.split('.');
    const fileExtension = fileNameParts[fileNameParts.length - 1].toLowerCase();
    console.log(fileExtension);

    if (!arr.includes(fileExtension)) {
      errMessage.textContent = `Invalid file type.`;
    //   submitButton.disabled = true;
      imageInput.value='';
      
    }else{
        errMessage.textContent = ` `;
        submitButton.disabled = false;
    }

    
   
  }


  function validatecat(id){
    
   console.log("okk");
    const submitButton = document.getElementById('submit');
    const errMessage = document.getElementById('err1');
    var val = document.getElementById('' + id).value;

    if (val.trim() === "") {
      errMessage.textContent = 'Only space does not accept';
      submitButton.disabled = true;
    } else if (val.startsWith(' ')) {
      errMessage.textContent = 'Text should not start with a space.';
      submitButton.disabled = true;
    } else {
      errMessage.textContent = '';
      submitButton.disabled = false;
    }
  
  }

</script>
<!-- tostify  -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- end  -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>


<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script> -->

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>