<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aceCart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- NEW -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/userstyle.css">
    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/razorpay.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- data table -->

    <!-- tippy -->
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.6/dist/tippy.css" integrity="sha384-N3MIHdNpS8f0s1ssUOKMD3QjZSYY8P8b9C1uB8USlrRY3ffS9aPP9AZjK9UWw6jE" crossorigin="anonymous">
  <script src="https://unpkg.com/tippy.js@6.3.6/dist/tippy-bundle.umd.min.js" integrity="sha384-JaEXCQlQdz9Y+teqrx3kPnh7pwLlWDiNpN+DAd3+7X8I+V5Knh73RUOhLaEtm/1A" crossorigin="anonymous"></script>
    <!-- end  -->
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
   
    <!-- end  -->





    <!-- google font ----------- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Chakra+Petch:wght@600&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Montserrat+Alternates:ital,wght@0,100;1,300;1,400&family=Poppins:ital,wght@0,400;1,300&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <!-- end ------------------- -->
 <!-- razorpay  -->
 
 <!-- end  -->
    <link rel="stylesheet" href="/style/guesthome.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <link rel="stylesheet" href="/style/cart.css">
    <link rel="stylesheet" href="/style/userprofile.css">
    <link rel="stylesheet" href="/style/wishlist.css">
    <script src="/javascripts/cartAjax.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/orderAjax.js"></script>
    <script src="/javascripts/edituserAjax.js"></script>
    <script src="/javascripts/wishlistAjax.js"></script>
    <script src="/javascripts/filterAjax.js"></script>
    <script src="/javascripts/couponAjax.js"></script>
   
  <!-- tostify -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <!-- end    -->

    <style>
        body{
            font-family: 'Poppins', sans-serif;   
            font-size: 14px;
            /* font-family: 'Ubuntu', sans-serif;     */
        }
        
    </style>
    
</head>
<body>